<app-spinner #appspinner></app-spinner>

<app-table #userTableComp [heading]="'User List'" [id]="'users_table'" 
[columns]="['userId',
'username',
'email',
'firstName',
'lastName',
'gender',
'status',
'dateOfBirth',
'createdTimestamp']" 
[rows]="['userId',
'username',
'email',
'firstName',
'lastName',
'gender',
'status',
'dateOfBirth',
'createdTimestamp']" 
(openAddModal)="openAddUserModal()" 
(openEditModal)="openEditModal($event)" 
(openRemoveModal)="openRemoveModal($event)" ></app-table>


<div class="modal fade" #add_new_user_modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" [formGroup]="addNewUserForm" >
                <fieldset class="form-group">
                    <label for="mobileno" >Mobile Number* :</label>
                    <input type ="text" class="form-control" formControlName="mobileno" name="mobileno" required/>
                    <div *ngIf="mobileno.invalid && mobileno.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email" >Email :</label>
                    <input type ="text" class="form-control" formControlName="email" name="email" required/>
                    <div *ngIf="email.invalid && email.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="price" >First Name :</label>
                    <input type ="text" class="form-control" formControlName="firstName" name="firstName" required/>
                    <div *ngIf="firstName.invalid && firstName.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="lastName" >Last Name :</label>
                    <input type ="text" class="form-control" formControlName="lastName" name="lastName" required/>
                    <div *ngIf="lastName.invalid && lastName.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                   <fieldset class="form-group">
                    <label for="gender" >Gender :</label>
                    <select class="form-control" formControlName="gender" name="gender" required>
                        <option value="M">Male</option>
                        <option value="F">FeMale</option>
                    </select>
                    <div *ngIf="gender.invalid && gender.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                   <fieldset class="form-group">
                    <label for="dateOfBirth" >Date of Birth :</label>
                    <input type ="date" class="form-control" formControlName="dateOfBirth" name="dateOfBirth" placeholder="DD/MM/YYY" required>
                    <div *ngIf="dob.invalid && dob.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <button type="button" class="btn btn-primary" [disabled]="addNewUserForm.invalid || loading" (click)="addNewUser()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" #update_channel_modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update New Channel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" [formGroup]="updateUserForm" >
                <fieldset class="form-group">
                    <label for="mobileno" >Mobile Number :</label>
                    <input type ="text" class="form-control" formControlName="mobileno" name="mobileno" disabled="true"/>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">Email :</label>
                    <input type ="text" class="form-control" formControlName="email" name="email" />
                    <div *ngIf="email1.invalid && email1.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="price" >First Name :</label>
                    <input type ="text" class="form-control" formControlName="firstName" name="firstName" />
                    <div *ngIf="firstName1.invalid && firstName1.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <fieldset class="form-group">
                    <label for="lastName" >Last Name :</label>
                    <input type ="text" class="form-control" formControlName="lastName" name="lastName"/>
                    <div *ngIf="lastName1.invalid && lastName1.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                   <fieldset class="form-group">
                    <label for="gender" >Gender :</label>
                    <select class="form-control" formControlName="gender" name="gender">
                        <option value="M">Male</option>
                        <option value="F">FeMale</option>
                    </select>
                    <div *ngIf="gender1.invalid && gender1.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                   <fieldset class="form-group">
                    <label for="dateOfBirth" >Date of Birth :</label>
                    <input type ="date" class="form-control" formControlName="dateOfBirth" name="dateOfBirth" placeholder="DD/MM/YYY">
                    <div *ngIf="dob1.invalid && dob1.touched" class = "alert-danger">Please enter value</div>
                </fieldset>
                <button type="button" class="btn btn-primary" [disabled]="updateUserForm.invalid || loading" (click)="updateUser()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

