<div class="card">
    <div class="card-header">
        <h4>{{heading}}</h4>
    </div>
    <div class="card-body">
        <div class='container-fluid table-responsive'>
            <table #lcoptable id="{{id}}" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let col of columns">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data">
                        <!--<input type='hidden' name='id_{{row['catentryId']}}' value='{{row['catentryId']}}'>-->
                        <td><div style="display:none;">{{row['catentryId']}}</div></td>
                        <td *ngFor="let item of rows">{{row[item]}}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>